.resendBtn {
  background-color: rgba(244, 121, 49, 0.598);
  color: rgba(255, 255, 255, 0.748);
  padding: 10px;
  width: 8em;
  margin-right: 12px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s ease-in-out;
}

.resendBtn:hover {
  background: rgba(243, 110, 39, 0.65);
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(237, 121, 58, 0.686);
}

.resendBtn:active {
  transform: translateY(0);
  box-shadow: none;
}
